.transform-component-module_wrapper__SPB86,
.transform-component-module_content__FBWxo {
    height: 100% !important; // Força o tamanho do TransformWrapper
    width: 100% !important; // Faz o wrapper ocupar todo o espaço do contêiner
    position: relative !important; // Importante para o layout
}

.esHide {}

@media (max-width: 640px) {
    .esHide {
        display: none;
    }
}